*{
  margin:0;
  padding:0;
}
ul{
    list-style:none;
}
h1{
  background: #eee;
  font-size: 24px;
  padding: 2em;
  text-align: center;
  font-family: sans-serif;
}

#priceArea{
  padding: 3em 0;
  margin-bottom:8em;
}

#priceArea ul li.product{
  font-size: 14px;
  line-height: 2em;
  list-style: none;
  margin-bottom: 2em;
  display:inline-block;
  min-width:240px;
  vertical-align:top;
}
#priceArea ul li.product h3{
  font-style: normal;
  font-weight: bold;
  color: #6295F7;
  border-left:3px solid #6295F7;
  text-align:left;
  margin-left:3em;
  padding-left:1em;
}
#priceArea ul li.product ul.modelList{
    margin-left:8em;
}
#priceArea ul li.product ul.modelList li{
    
}
#priceArea ul li.product ul.modelList li .price{
    color:red;
}

#footer{
  position: fixed;
  bottom: 0;
  padding: 2em 0;
  font-size: 12px;
  text-align: center;
  width: 100%;
  background: #eee;
}
